*{
    margin: 0;padding: 0;
}
.container{
    background-color: rgb(202, 78, 78);
    height: 80vh;
    width: 60vw;
}
.inside{
    background-color: rgb(66, 23, 23);
    height: 95%;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;padding-top: 2px;
    margin-top: 2px;
}
.inside1{
    height: 30%;
    width: 95%;
    background-color: aqua;
    margin: 2px;
    border: 2px solid red;
    border-radius: 10px;

}
.inside2{
    height: 30%;
    width: 95%;
    background-color: aqua;
    margin: 4px;
    border: 2px solid red;
    border-radius: 20px;
}
.inside3{
    height: 30%;
    width: 95%;
    background-color: aqua;
    margin: 2px;
    border: 2px solid red;
    border-radius:30px 10px;
}